<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="RestEndpoint" value="https://testnet.bitmex.com/api/v1"></add>
    <add key="WebSocketEndpoint" value=""></add>
    <add key="BitmexApiKey" value="iIFvva629YnJ1LmjEflRfhWA"></add>
    <add key="BitmexApiSecret" value="QKWRrSRXSBF2sLneIHG118MiBZxAmP5m3L0tel_zYFdPIOvf"></add>
  </appSettings>
</configuration>
