<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="RestEndpoint" value="https://testnet.bitmex.com/api/v1"></add>
    <add key="WebSocketEndpoint" value="wss://testnet.bitmex.com/realtime"></add>
    <add key="BitmexApiKey" value="Z3So8fRWLaejVhuqKJikSj8B"></add>
    <add key="BitmexApiSecret" value="malgMjihESAAJrVtzs96ydD1f_m4zoS6YK_vwFFRLitQZzGa"></add>
  </appSettings>
</configuration>
